.ONE{
    height: 300px;
    width: 300px;
    background-color: crimson;
   
}
.TWO
{
    height: 200px;
    width: 200px;
    background-color: blue;
    margin-left: 45px;
}
@media screen and (min-width:600px)
{
    .TWO
    {
        height: 100px;
        width: 100px;
        background-color: aqua;
    }

}