body {
    margin: 40px;
    background-color: rgb(8, 221, 211);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img
{
    box-sizing: content-box;
}